.header__lang-link {
    color: #fff;
    margin: 0 18px 0 0;
    opacity: 1;
    transition: .5s;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:nth-of-type(2) {
    margin: 0;
}

@media (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}