.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
    list-style: none;
}

@media (min-width: 1280px) {
    .photo-grid {
        width: 1184px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        width: 928px;
    }
}

@media (min-width: 1024px) {
    .photo-grid {
        margin: 92px auto 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        width: 720px;
        margin: 88px auto 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .photo-grid {
        width: 288px;
        margin: 64px auto 0;
    }
}