.cover__subtitle {
    color: #fff;
    z-index: 1;
    text-align: center;
}

@media (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        margin: 32px 0 0 0;
        width: 360px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin: 16px 0 0 0;
    }
}