.footer__links {
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .footer__links {
        display: flex;
        width: 465px;
    }
}

@media (max-width: 767px) {
    .footer__links {
        display: block;
    }
}