.place__website {
    align-self: flex-end;
}

@media (min-width: 320px) and (max-width: 768px) {
    .place__website {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}