@font-face {
	font-family: 'Inter';
	font-weight: normal;
}
.page {
	background-color: #2A2C2F;
	font-family: 'Inter', sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
}
.header__lang-links {
	display: flex;
}
.header__lang-link {
	color: #fff;
	width: 30px;
	font-size: 24px;
	line-height: 28px;
	margin-right: 18px;
	}
.header__lang-link:nth-of-type(1) {
	text-decoration-line: underline;
}
.header__lang-link:nth-of-type(2) {
	margin-right: 0;
}
.lead {
	display: flex;
	flex-wrap: wrap;
}
.lead__title {
	color: #fff;
	text-align: center;
}
.lead__subtitle {
	color: #fff;
	text-align: center;
}
.lead__image {
	width: 100%;
}
.lead__caption {
	text-transform: uppercase;
	color: #fff;
}
.intro__title {
	color: #fff;
	margin: 0;
}
.intro__text {
	color: #fff;
	width: 100%;
	line-height: 163%;
	font-size: 16px;
 	margin: 40px 0 0 0;
}
.intro__list {
	color: #fff;
	font-size: 12px;
	list-style: none;
	padding: 0;
	width: 100%;
	margin: 33px 0 0 0;
	line-height: 18px;
}
.intro__span-heading {
	font-weight: bold;
}
.photo-grid {
 	display: grid;
 	grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
 	gap: 16px;
}
.photo-grid__item {
	max-width: 100%;
	width: 100%;
}
@media (min-width: 1280px) {
	.header { 
		width: 1184px;
		margin: 28px auto 0;
		height: 52px;
	}
	.header__logo {
		width: 176px;
		height: 52px;
		background-image: url('../images/logo.svg');
	}
	.lead {
		width: 984px;
		margin: 58px auto 0;
	}
	.lead__title {
		width: 720px;
		line-height: 100px;
		font-size: 96px;
		margin: 0 auto;
	}
	.lead__subtitle {
		width: 640px;
		line-height: 36px;
		margin: 32px auto 0;
		font-size: 30px;
		text-align: center;
	}
	.lead__image {
		height: 615px;
		margin: 64px auto auto 0;
	}
	.lead__caption {
		margin: 8px 0 0 0;
		font-size: 10px;
	}
	.intro {
 		width: 690px;
 		margin: 92px 0 0 148px;
 	}
 	.intro__title {
 		font-size: 54px;
 		width: 100%;
 	}
 	.photo-grid {
 		width: 1184px;
 		margin: 92px auto 0;
 	}
}
@media (max-width: 1280px) {
	.header {
		width: 928px;
		margin: 28px auto 0;
		height: 52px;
	}
	.lead {
		width: 928px;
		margin: 48px auto 0;
	}
	.header__logo {
		width: 176px;
		height: 52px;
		background-image: url('../images/logo.svg');
	}
	.lead__title {
		margin: 0 auto;
		font-size: 96px;
		line-height: 100px;
	}
 	.lead__subtitle {
 		width: 640px;
 		line-height: 36px;
 		font-size: 30px;
 		margin: 32px auto 0;
 	}
	.lead__image {
		height: 580px;
		margin: 56px 0 0 0;
	}
	.intro__title {
		font-size: 54px;
		width: 100%;
	}
	.photo-grid {
		width: 928px;
		margin: 92px auto 0;
	}
}
@media (max-width: 1024px) {
	.header {
		width: 720px;
		margin: 28px auto 0;
		height: 52px;
	}
	.header__logo {
		width: 176px;
		height: 52px;
		background-image: url('../images/logo.svg');
	}
	.lead {
		width: 100%;
		margin: 48px 0 0 0;
	}
	.lead__title {
		width: 720px;
		font-size: 96px;
		margin: 0 auto;
		line-height: 100px;
	}
	.lead__subtitle {
		width: 640px;
		font-size: 30px;
		line-height: 36px;
		margin: 32px auto 0;
	}
	.lead__image {
		height: 480px;
	}
	.intro__caption {
		margin: 8px 0 0 24px;
	}
	.intro__title {
		font-size: 54px;
		width: 100%;
	}
	.photo-grid {
		width: 720px;
		margin: 88px auto 0;
	}
}
@media (min-width: 320px) and (max-width: 768px) {
	.header {
		width: 288px;
		margin: 16px auto 0;
		height: 42px;
	}
	.lead {
		width: 100%;
		margin: 48px 0 0 0;
	}
	.header__logo {
		width: 142px;
		height: 42px;
		background-image: url('../images/logo_320px.svg');
		object-position: center;
	}
	.lead__title {
		margin: 0 auto;
		width: 288px;
		font-size: 40px;
		line-height: 44px;
	}
 	.lead__subtitle {
 		width: 288px;
 		line-height: 20px;
 		font-size: 16px;
 		margin: 16px auto 0;
 	}
 	.lead__image {
 		height: 200px;
 	}
 	.lead__caption {
 		font-size: 10px;
 		width: 158px;
 		margin: 8px 0 0 16px;
 	}
 	.intro {
 		width: 288px;
 		margin: 64px auto 0;
 	}
	.intro__title {
		font-size: 32px;
		width: 288px;
		line-height: 35px;
	}
 	.photo-grid {
		width: 288px;
		margin: 64px auto 0;
	}
}